<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="LOG_FILE" value="LogFile" />
    <property name="LOG_DIR" value="logs" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_FILE}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>1</maxHistory>
            <totalSizeCap>1MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ua.foxminded.javaspring.lenskyi.schooljdbc.task2.command.commands.AddStudentCommand" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>